<a href="https://colab.research.google.com/github/Mayank-004/Car-Horsepower-prediction-using-Pyspark/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!pip install pyspark

from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
#sc= SparkContext()
sqlContext = SQLContext(sc)
car_df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('Small_Car_Data.csv')
car_df.take(1)

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

[Row(_c0=1, Acceleration=12.0, Cylinders=8, Displacement=307, Horsepower=130, Manufacturer='chevrolet    ', Model='chevrolet chevelle malibu        ', Model_Year=70, MPG=18.0, Origin='USA    ', Weight=3504)]

In [13]:
car_df.describe().toPandas().transpose()

                  0  ...                                  4
summary       count  ...                                max
_c0             100  ...                                100
Acceleration    100  ...                               24.6
Cylinders       100  ...                                  8
Displacement    100  ...                                455
Horsepower      100  ...                                225
Manufacturer    100  ...                      volvo
Model           100  ...  volvo 245
Model_Year      100  ...                                 82
MPG             100  ...                               44.0
Origin          100  ...                            USA
Weight          100  ...                               4732

[12 rows x 5 columns]

In [14]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer

from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

indexers = [StringIndexer(inputCol="Origin", outputCol="OriginIndex"),StringIndexer(inputCol="Manufacturer", outputCol="ManufactureIndex") , StringIndexer(inputCol="Model", outputCol="ModelIndex")]


pipeline = Pipeline(stages=indexers)
car_df = pipeline.fit(car_df).transform(car_df)

car_df.show()

vectorAssembler = VectorAssembler(inputCols = ['Cylinders','Displacement','ManufactureIndex','ModelIndex','OriginIndex','Weight'], outputCol = 'features')
vcar_df = vectorAssembler.transform(car_df)

vcar_df = vcar_df.select(['features', 'Acceleration'])

+---+------------+---------+------------+----------+-------------+--------------------+----------+----+-------+------+-----------+----------------+----------+
|_c0|Acceleration|Cylinders|Displacement|Horsepower| Manufacturer|               Model|Model_Year| MPG| Origin|Weight|OriginIndex|ManufactureIndex|ModelIndex|
+---+------------+---------+------------+----------+-------------+--------------------+----------+----+-------+------+-----------+----------------+----------+
|  1|        12.0|        8|         307|       130|chevrolet    |chevrolet chevell...|        70|18.0|USA    |  3504|        0.0|             1.0|      26.0|
|  2|        11.5|        8|         350|       165|buick        |buick skylark 320...|        70|15.0|USA    |  3693|        0.0|             9.0|      17.0|
|  3|        11.0|        8|         318|       150|plymouth     |plymouth satellit...|        70|18.0|USA    |  3436|        0.0|             4.0|      77.0|
|  4|        12.0|        8|         304|       150|amc          |amc rebel sst    ...|        70|16.0|USA    |  3433|        0.0|             2.0|      11.0|
|  5|        10.5|        8|         302|       140|ford         |ford torino      ...|        70|17.0|USA    |  3449|        0.0|             0.0|      61.0|
|  6|        10.0|        8|         429|       198|ford         |ford galaxie 500 ...|        70|15.0|USA    |  4341|        0.0|             0.0|      53.0|
|  7|         9.0|        8|         454|       220|chevrolet    |chevrolet impala ...|        70|14.0|USA    |  4354|        0.0|             1.0|      29.0|
|  8|         8.5|        8|         440|       215|plymouth     |plymouth fury iii...|        70|14.0|USA    |  4312|        0.0|             4.0|      75.0|
|  9|        10.0|        8|         455|       225|pontiac      |pontiac catalina ...|        70|14.0|USA    |  4425|        0.0|             8.0|      81.0|
| 10|         8.5|        8|         390|       190|amc          |amc ambassador dp...|        70|15.0|USA    |  3850|        0.0|             2.0|       6.0|
| 11|        17.5|        4|         133|       115|citroen      |citroen ds-21 pal...|        70|14.0|France |  3090|        3.0|            17.0|      35.0|
| 12|        11.5|        8|         350|       165|chevrolet    |chevrolet chevell...|        70|16.0|USA    |  4142|        0.0|             1.0|      25.0|
| 13|        11.0|        8|         351|       153|ford         |ford torino (sw) ...|        70|17.0|USA    |  4034|        0.0|             0.0|      62.0|
| 14|        10.5|        8|         383|       175|plymouth     |plymouth satellit...|        70|19.0|USA    |  4166|        0.0|             4.0|      78.0|
| 15|        11.0|        8|         360|       175|amc          |amc rebel sst (sw...|        70|20.0|USA    |  3850|        0.0|             2.0|      12.0|
| 16|        10.0|        8|         383|       170|dodge        |dodge challenger ...|        70|15.0|USA    |  3563|        0.0|             3.0|      41.0|
| 17|         8.0|        8|         340|       160|plymouth     |plymouth 'cuda 34...|        70|14.0|USA    |  3609|        0.0|             4.0|      73.0|
| 18|         8.0|        8|         302|       140|ford         |ford mustang boss...|        70|16.0|USA    |  3353|        0.0|             0.0|      57.0|
| 19|         9.5|        8|         400|       150|chevrolet    |chevrolet monte c...|        70|15.0|USA    |  3761|        0.0|             1.0|      30.0|
| 20|        10.0|        8|         455|       225|buick        |buick estate wago...|        70|14.0|USA    |  3086|        0.0|             9.0|      16.0|
+---+------------+---------+------------+----------+-------------+--------------------+----------+----+-------+------+-----------+----------------+----------+
only showing top 20 rows

In [15]:
splits = vcar_df.randomSplit([0.9, 0.1])
train_df = splits[0]
test_df = splits[1]

In [16]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='Acceleration', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(train_df)
print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

Coefficients: [-0.0591757008828765,-0.014776534852830677,0.0,-0.001755647854643741,0.0,0.0]
Intercept: 18.440601803663675

In [17]:
trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

RMSE: 2.309619
r2: 0.443454

In [24]:
lr_predictions_train = lr_model.transform(train_df)


lr_predictions_test = lr_model.transform(test_df)
print("prediction for train Data")
lr_predictions_train.select("prediction","Acceleration","features").show(5)

print("prediction for test Data")
lr_predictions_test.select("prediction","Acceleration","features").show(5)

from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="Acceleration",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions_train))
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions_test))

prediction for train Data
+------------------+------------+--------------------+
|        prediction|Acceleration|            features|
+------------------+------------+--------------------+
|16.898735397711537|        22.2|[4.0,85.0,1.0,28....|
|16.882934567019742|        17.0|[4.0,85.0,10.0,37...|
| 16.86523262410419|        14.2|[4.0,90.0,6.0,5.0...|
| 16.85572303281529|        17.4|[4.0,91.0,7.0,2.0...|
| 16.85572303281529|        15.0|[4.0,91.0,7.0,2.0...|
+------------------+------------+--------------------+
only showing top 5 rows

prediction for test Data
+------------------+------------+--------------------+
|        prediction|Acceleration|            features|
+------------------+------------+--------------------+
|16.612566812489657|        20.5|[4.0,97.0,6.0,90....|
|16.610811164635013|        24.6|[4.0,97.0,6.0,91....|
| 16.38931062129672|        19.4|[4.0,119.0,1.0,32...|
|16.140596528668922|        16.0|[4.0,135.0,3.0,39...|
|14.336988801664791|        14.5|[6.0,250.0,1.0,31...|
+------------------+------------+--------------------+
only showing top 5 rows

R Squared (R2) on test data = 0.443454
R Squared (R2) on test data = 0.485159

In [21]:
test_result = lr_model.evaluate(test_df)
train_result = lr_model.evaluate(train_df)

print("Root Mean Squared Error (RMSE) on train data = %g" % train_result.rootMeanSquaredError)
print("Root Mean Squared Error (RMSE) on test data = %g" % test_result.rootMeanSquaredError)

Root Mean Squared Error (RMSE) on train data = 2.30962
Root Mean Squared Error (RMSE) on test data = 3.68593